{
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    // "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-str": 0,
    "camelcase":0,
    "consistent-return": 0,
    "vars-on-top": 0,
    "no-unused-vars": 0,
    "import/newline-after-import":0,
    "eqeqeq":0,
    "no-plusplus":0,
    "no-var":0,
    " no-undef":0,
    "object-shorthand":0,
    "prefer-destructuring":0,
    "no-undef":0,
    "prefer-const":0,
    "no-unused-expressions":0,
    "no-empty":0,
    "prettier/prettier":0


  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ]
}
